@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  font-family:'Inter';
}
:root{
  --blue:#1A3261;
  --red:#F10C0C;
  --white:#ffff;
}
.nav-section{
  border-top: 10px solid var(--blue);
}
.nav-top{
  background-color: var(--blue);
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  color:var(--white);
  clip-path:polygon(100% 0%,0 0, 5% 100%,100% 100%);
  background-color: #1A3261;  
}
.navtop-details{
  display: flex;
  gap: 50px;
}
.navtop-details li .telephone{
  color: var(--white);
  text-decoration: none;
}
.social-media-icons li{
  margin-left: 10px;
}
.nav-link{
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
.book-btn{
  background-color:var(--red);
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color:var(--white);
  font-size: 24px;
  clip-path: polygon(10% 0%,100% 0%,100% 100%,0 100%)
}

.navbar-section{
  border-bottom: 1px solid var(--red);
  position:sticky;
  top: 0;
  background-color: var(--white);
  z-index: 3;
}
.navbar-inline{
 padding-inline-start: 90px;
}
.navbar .navbar-nav{
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-inline-start: 30px;
}
.navbar-brand img{
  position: relative;
  bottom: 14px;
}


/*  */
.banner-tariff-section{
  background-image: url('/images/tarif-banner-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  padding: 100px 0px;
}
.banner{
  padding: 160px 0px;
  text-align: center;
}
.banner h1{
  padding: 10px 0px;
  font-weight: bold;
}
.banner p{
  padding: 10px 0px;
}
.banner button{
  background-color: #F9B400;
  color: var(--white);
  padding:20px 50px;
  border: none;
}
/*  */
.packages-head{
  text-align: center;
}
.packages-head p{
  color: #877171;
}
.card-body li{
  font-size: 16px;
}
.card-head{
  padding-top: 50px;
  padding-inline-start:30px;
}
/*  */
.footer-section{
  background-color: #17272C;
}
.footer-section .row{
  color:var(--white);
  padding: 50px 0px;
}
.footer-data li{
  margin: 10px 0px;
  font-size: 14px;
}
.footer-para{
  font-size: 12px;
}
.footer-section .explore{
  display: flex;
  justify-content: center;
}

.footer-icons{
  display: flex;
  gap: 20px;
  padding-top: 10px;
}
.footer-data a{
  color: var(--white);
}
.footer-data .tele{
text-decoration: none;
}